@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #BEE1B5;
  --foreground: #F3F3F3;
  --header: #D8EDD3;
  --white: #F3F3F3;
  --black: #161616;
  --gray: #CDCDCD;
  --green: #55ef55;
  --green-dark: #387C57;
  --green-darker: #2e7141;
  --red: #ef5555;
  --red-dark: #7c3838;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #BEE1B5;
    --foreground: #F3F3F3;
    --header: #D8EDD3;
    --white: #F3F3F3;
    --black: #161616;
    --gray: #CDCDCD;
    --green: #55ef55;
    --green-dark: #387C57;
    --green-darker: #2e7141;
    --red: #ef5555;
    --red-dark: #7c3838;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 